/* 
    Created on : 25-Apr-2019, 11:57:01
    Author     : Henning
*/

@charset "UTF-8";

#page{
    min-width:260px;
    max-width:930px;
    margin:0 auto;
    padding:0 12px;
}

body{
    background:#124A86;
    margin: 0;
    font-family: 'Work-Sans',sans-serif;
    font-weight: 300;
}




#entrance-menu{
    display:block;
    position:relative;
    width:100%;
    height:0;
    padding-bottom:70%;
    margin-bottom:12px;
    /*background-image:url('');*/
    background-repeat:no-repeat;
    background-position:top left;
    background-size:100% auto;
}

#Head-title
{
    min-width: 270px;
    padding: 20%;
    margin: 0 auto;
    nav-right: 20%;
    position: 20%;
}





.logo{
    margin-top: 4px;
    margin-left: 4px;
    width: 8%;
}

topbar{
    margin-left: 20px;
    padding: 0;
    background: #585858;
    margin-right: 20px;
}

a{
    color: #124A86;
    text-decoration: none;
}

nav{
    float: right;
}

header{
    background: #A4A4A4;
}

nav ul{
    font-size: 50px;
    margin-top: 70px;
    padding: 0;
    list-style: none;
}

nav li{
    float: left;
    margin-right: 100px;
    
    position: relative;
}

.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    width: 72%;
}

nav a::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #124A86;
    margin-top: 70px;
    position: absolute;
    
    width: 0%;
    
    transition: all ease-in-out 200ms;
}

a:hover::before{
    width: 100%;
}

footer {
    font-size: 15px;
    margin-bottom: auto;
    margin-left: 15px;
}

